.column-ID {
    width: 5%
}

.column-title {
    width: 15%
}

.column-count_redirect {
    width: 5%
}

.column-url_post {
    width: 25%
}

.column-r_links {
    position: relative;
}

.column-r_terms {
    width: 10%
}

.column-taxonomy-asr_redirect_cat {
    width: 10%
}

.column-short_url_post {
}

.column-r_links .spinner {
    position: absolute;
    top: 9px;
    left: 5px;;
    z-index: 1000;
}

.asr-clipboard {
    opacity: .75;
}

.asr-clipboard img {
    opacity: .75;
    width: 14px;
    height: auto;
    top: 3px;
    position: relative;
}

.short-url-redirect .asr-clipboard img {
    width: 14px;
    height: auto;
}

.asr-clipboard img:hover {
    opacity: 1;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:after {
    background: #444;
    border-radius: 4px;
    color: #fff;
    content: attr(title);
    font-size: 12px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1000;
    bottom: 110%;
    right: -35px;
}

.tooltip:before {
    border: solid;
    border-color: #444 transparent;
    border-width: 6px 3px 0 3px;
    content: "";
    left: 20%;
    top: -10%;
    position: absolute;
}